img{
    height: 350px;
    width: 360px;
    margin: 5px;
}
.card{
height: 550px;
width: 400px;
border: 2px solid rgb(128, 120, 120);
float: left;
margin-left: 10px;
}
.txt{
    padding-left: 10px;
    font-size: 30px;
}